

.object-pane li{
    display: block;
    /* width: 70%; */
    height: 50px;
    border: 1px solid #000;
    float: left;
    margin-left: 15%;
}

.trash-btn{
    margin-top: -5px;
    float: right;
    opacity: 0.1;
  }

  .trash-btn:hover{
    opacity: 1;
  }

.object-pane li:hover{
    font-weight: bold;
}

.new-obj-btn {
    margin-left: 35%;
    margin-bottom: 5%;
}

.list-object {
    text-align: center;
    vertical-align: sub;
}


.list-object:hover {
    background-color: lightblue;
    /* width: 105%; */
    height: 52px;
    font-weight: bold;
}