.Object-Pane{
    width: 20%;
    left: 0;
}

.Object-Pane li{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    float: left;
    margin-bottom: 10px;
    text-align: center;
}

.List-Object {
    text-align: center;
    vertical-align: sub;
}


.List-Object:hover {
    background-color: lightblue;
    width: 105%;
    height: 52px;
    font-weight: bold;
}