body {
  margin: 0;
}

.app {
  text-align: left;
}

.pane {
  float: left;
  height: 94.5vh;
  /* margin: 10px; */
  background-color: rgb(221, 212, 247);
}

.footer {
  background-color: rgb(166, 146, 190);
  text-align: center;
  font-size: 35px;
}

.figure-header {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%;
  vertical-align: middle;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
}

.object-pane-header {
  height: 25%;
}
